importFrom(dplyr, "%>%")
importFrom(foreach, "%dopar%")
importFrom(foreach, "%do%")
importFrom(rlang, ".data")
export(computeConditionalCS_DeltaRM)
export(computeConditionalCS_DeltaRMB)
export(computeConditionalCS_DeltaRMM)
export(computeConditionalCS_DeltaSDRM)
export(computeConditionalCS_DeltaSDRMB)
export(computeConditionalCS_DeltaSDRMM)
export(computeConditionalCS_DeltaSD)
export(computeConditionalCS_DeltaSDB)
export(computeConditionalCS_DeltaSDM)
export(constructOriginalCS)
export(createEventStudyPlot)
export(createSensitivityPlot)
export(createSensitivityResults)
export(createSensitivityResults_relativeMagnitudes)
export(createSensitivityPlot_relativeMagnitudes)
export(DeltaSD_lowerBound_Mpre)
export(DeltaSD_upperBound_Mpre)
export(findOptimalFLCI)
export(basisVector)
